* {
  margin: 0;
}

.app {
  /* ColorZilla Chrome Extension for color extraction from website */
  background-color: #fafafa;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  /* keep original size of the image */
  object-fit: contain;
  /* pading from inside */
  padding: 20px;
  /* border line */
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app__posts {
  padding: 20px;

  display: flex;
  justify-content: center;
}

.app__postsRight {
  margin-left: 20px;
}

.app__headerImage {
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}
